body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: black;
  user-select: none;
  -webkit-user-drag: none;
}

.container {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 1000px;
  /* max-width: 500px;
  max-height: 1000px;
  width: 100%;
  height: 100vh; */
}

.banner img {
  user-select: none;
  -webkit-user-drag: none;
  /* max-width: 100%;
  max-height: 100%; */
}

.frame {
  position: absolute;
}

.burger {
  position: absolute;
}

.text {
  position: absolute;
  top: 68%;
  right: 15%;
  opacity: 0;
}

.banner .red-line,
.banner .blue-line,
.banner .yellow-line,
.banner .green-line {
  position: absolute;
  opacity: 0;

  z-index: 10;
}

.banner .red-line {
  right: -3%;
  top: 25.5%;
  animation: line_animation 0.21s 0.76s forwards,
    stageChange_lines 0.3s 4.77s forwards, indexStage-2 0.3s 5s forwards,
    line_animation 0.21s 5.36s forwards, stageChange_lines 0.19s 6.86s forwards,
    indexStage-3 0.3s 7.05s forwards, line_animation 0.21s 7.46s forwards,
    stageChange_lines 0.19s 9.07s forwards;
}

.banner .blue-line {
  right: 0;
  top: 25.8%;
  animation: line_animation 0.21s 0.87s forwards,
    stageChange_lines 0.3s 4.77s forwards, indexStage-2 0.3s 5s forwards,
    line_animation 0.18s 5.49s forwards, stageChange_lines 0.19s 6.86s forwards,
    indexStage-3 0.3s 7.05s forwards, line_animation 0.21s 7.56s forwards,
    stageChange_lines 0.19s 9.07s forwards;
}

.banner .yellow-line {
  right: -3%;
  top: 25.5%;
  animation: line_animation 0.2s 0.97s forwards,
    stageChange_lines 0.3s 4.77s forwards, indexStage-2 0.3s 5s forwards,
    line_animation 0.2s 5.57s forwards, stageChange_lines 0.19s 6.86s forwards,
    indexStage-3 0.3s 7.05s forwards, line_animation 0.2s 7.67s forwards,
    stageChange_lines 0.19s 9.07s forwards;
}

.banner .green-line {
  right: -4%;
  top: 26%;
  animation: line_animation 0.19s 1.06s forwards,
    stageChange_lines 0.3s 4.77s forwards, indexStage-2 0.3s 5s forwards,
    line_animation 0.2s 5.67s forwards, stageChange_lines 0.19s 6.86s forwards,
    indexStage-3 0.3s 7.05s forwards, line_animation 0.2s 7.79s forwards,
    stageChange_lines 0.19s 9.07s forwards;
}

.banner .footer {
  position: absolute;
  animation: fadeIn-footer 0.4s;
  z-index: 100;
}

.banner .headline-1,
.banner .headline-2,
.banner .price {
  position: absolute;
  transform: scale(0%);
  opacity: 1;
  z-index: 10;
}

.banner .headline-1 {
  top: 13%;
  left: 0;
  animation: grow-headline-1 0.3s forwards, shrink__headline-1 0.4s forwards;
  animation-delay: 0.36s, 2.47s;
}

.banner .headline-2 {
  top: 19%;
  left: 0%;
  transform-origin: bottom right;
  animation: grow-headline-2 0.27s 2.8s forwards, increase-decrease 0.4s 4.76s,
    indexStage-2 0.3s 4.77s forwards, increase-decrease 0.4s 6.86s forwards,
    indexStage-3 0.3s 6.87s forwards, fadeout 0.32s 9.06s forwards;
}

.banner .headline-3 {
  position: absolute;
  transform: scale(0);
  z-index: 20;
  transform-origin: right;
  animation: grow-headline-3 0.4s 9.57s forwards, fadeout 0.18s 11.78s forwards;
}

.banner .price {
  top: 37%;
  left: 4%;
  animation: grow-price 0.27s 2.8s forwards, indexStage-2 0.3s 4.77s forwards,
    indexStage-3 0.3s 6.87s forwards, fadeout 0.32s 9.06s forwards;
}

.banner .text-container .text:nth-child(1) {
  z-index: 10;
  animation: appear 0.25s 3.22s forwards, fadeout 0.21s 4.76s forwards;
}

.banner .text-container .text:nth-child(2) {
  right: 6%;
  z-index: 8;
  animation: appear 0.25s 6.01s forwards, fadeout 0.31s 6.86s forwards;
}

.banner .text-container .text:nth-child(3) {
  right: 22%;
  z-index: 6;
  animation: appear 0.25s 8.02s forwards, fadeout 0.12s 9.11s forwards;
}

.banner .frame-container .frame:nth-child(1) {
  z-index: 10;
}

.banner .frame-container .frame:nth-child(2) {
  z-index: 8;
}

.banner .frame-container .frame:nth-child(3) {
  z-index: 6;
}

.banner .frame-container .frame:nth-child(4) {
  z-index: 1;
  animation: fadeout 0.18s 11.5s forwards;
}

.banner .burger-container .burger:nth-child(1) {
  z-index: 11;
}

.banner .burger-container .burger:nth-child(2) {
  z-index: 9;
}

.banner .burger-container .burger:nth-child(3) {
  z-index: 7;
}

.banner .frame-container .frame:nth-child(1),
.banner .burger-container .burger:nth-child(1) {
  animation: stageChange 0.32s 4.76s forwards, forLoop 0.1s 11.7s forwards;
}

.banner .frame-container .frame:nth-child(2),
.banner .burger-container .burger:nth-child(2) {
  animation: stageChange 0.32s 6.86s forwards;
}

.banner .frame-container .frame:nth-child(3),
.banner .burger-container .burger:nth-child(3) {
  animation: stageChange 0.32s 9.06s forwards;
}

.banner .frame-container .frame:nth-child(4),
.banner .burger-container .burger:nth-child(4) {
  animation: fadeout 0.18s 11.78s forwards;
}

.banner .btn {
  z-index: 2;
  position: absolute;
  transform: translateX(1000px);
  animation: btn 0.35s 9.42s forwards, click 0.81s 10.36s forwards,
    fadeout 0.18s 11.78s forwards;
}

@keyframes click {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes btn {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes indexStage-2 {
  from {
    z-index: 10;
  }
  to {
    z-index: 8;
  }
}

@keyframes indexStage-3 {
  from {
    z-index: 8;
  }
  to {
    z-index: 6;
  }
}

@keyframes grow-headline-2 {
  from {
    opacity: 0;

    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes grow-headline-3 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow-price {
  from {
    opacity: 0;
    left: 15%;
    top: 42%;
    transform: scale(0);
  }
  to {
    opacity: 1;
    left: 4%;
    top: 37%;
    transform: scale(1);
  }
}

@keyframes line_animation {
  from {
    opacity: 0;
    transform: translateX(-50%) scaleX(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(-3%) scaleX(1);
  }
}

@keyframes stageChange {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes increase-decrease {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stageChange_lines {
  from {
    opacity: 1;
    transform: translateX(-3%) scale(1);
  }
  to {
    opacity: 0;
    transform: translateX(500px);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    transform: translate(20px, 20px);
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translate(-5px, -5px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes grow-headline-1 {
  from {
    top: 22%;
    left: -60px;
    transform: scale(0);
  }
  to {
    top: 12%;
    left: 0;
    transform: scale(1);
  }
}

@keyframes shrink__headline-1 {
  from {
    top: 13%;
    transform: scale(1);
  }
  to {
    top: 22%;
    left: -10%;
    transform: scale(0);
  }
}

@keyframes fadeIn-footer {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes forLoop {
  from {
    opacity: 0;
    z-index: 10;
  }
  to {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
  }
}
